<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PayPal Billing Agreement</title>
</head>

<body>
  <h1>Billing Agreement Demo</h1>
  <ol>
    <li>
      Fetch Access Token
      <button id="fetchAccessTokenButton" type="button" class="btn btn-primary">Fetch Access Token</button>
    </li>
    <li>
      Create Billing Agreement Token
      <button id="createBaTokenButton" type="button" class="btn btn-primary">Create Billing Agreement Token</button>
    </li>
    <li>
      Consent to Billing Agreement
      <button id="buyerLinkBtn" type="button" class="btn btn-primary">Consent to Billing Agreement</button>
    </li>
    <li>
      Create Billing Agreement
      <button id="createBaButton" type="button" class="btn btn-primary">Create Billing Agreement</button>
    </li>
    <li>
      Execute Reference Transaction
      <button id="executeRefTransButton" type="button" class="btn btn-primary">Execute Reference Transaction</button>
    </li>
  </ol>

  <script src="bart.js"></script>
</body>

</html>