<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Loading Braintree Script -->
  <script src="https://js.braintreegateway.com/web/dropin/1.31.2/js/dropin.min.js"></script>
  <!-- Loading Script containing code for Dropin -->
  <script src="dropin.js" defer></script>
  <title>Dropin demo</title>

  <style>
    /* Centering elements in body section of html */
    body {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  </style>

</head>

<body>
  <h1>Dropin Demo</h1>
  <div id="dropin-wrapper">
    <div id="dropin-container"></div>
  </div>
  <button id="submit-button">Submit payment</button>

  <hr />
  <!-- Empty div that we will output the response from server too -->
  <div id="divResponse"></div>
  <div id="checkout-message"></div>
</body>

</html>