<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayPal JS SDK Standard Integration</title>
</head>

<body>
    <div id="paypal-button-container"></div>
    <p id="result-message"></p>


    <!-- Initialize the JS-SDK -->
    <script
        src="https://www.paypal.com/sdk/js?client-id=AYKEHhMOHxkycKjSnN548FOs6qDSY-FT_97BIziC-GvhPIbXgb5pdunsni91NhaBvD590azAxRqkZntY&buyer-country=US&currency=USD&components=buttons&enable-funding=paylater,card,venmo"
        data-sdk-integration-source="developer-studio"></script>
    <script src="newstuff.js"></script>

</body>

</html>