<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error during Transaction</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
      }
      .container {
        width: 50%;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h4 {
        color: #ff0000;
      }
      pre {
        font-size: 0.9rem;
        color: #32424e;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="/" style="font-size: 0.7rem">Back to the index</a>
      <h4>Error during the transaction</h4>
      <!-- <pre><%= message %></pre> -->
    </div>
  </body>
</html>
