<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- The following CSS file is a sample for demo purposes. Instead, you should use styles that align with your brand 
    using the CSS properties supported by this integration: https://developer.paypal.com/docs/checkout/advanced/customize/card-field-style/ -->
  <link rel="stylesheet" type="text/css"
    href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" />
  <title>Advanced Checkout Integration with 3D Secure and SDK v2</title>
  <!-- &buyer-country is available only in SandBox for testing, remove it before going Live -->
  <!-- Check all the parameters and the JavaScript SDK script configuration at the following link: -->
  <!-- https://developer.paypal.com/sdk/js/configuration/ -->
  <script
    src="https://www.paypal.com/sdk/js?components=messages,buttons,card-fields,googlepay,applepay&enable-funding=paylater&buyer-country=GB&currency=GBP&client-id=<%= clientId %>"
    data-client-token="<%= clientToken %>" data-partner-attribution-id="APPLEPAY"
    data-partner-attribution-id="GOOGLEPAY"></script>
  <script src="https://applepay.cdn-apple.com/jsapi/1.latest/apple-pay-sdk.js"></script>
  <script src="https://pay.google.com/gp/p/js/pay.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.4/dist/css/pretty-print-json.css>
  <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@1.3/dist/pretty-print-json.min.js></script>
</head>

<body>
  <style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .flex-h {
      display: flex;
      justify-content: space-between;
    }

    .flex-v {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .sidebar {
      background-color: #333;
      color: #fff;
      height: 100vh;
      width: 10%;
      padding: 20px;
    }

    .content {
      width: 90%;
      padding: 20px;
    }

    .product {
      width: 50%;
    }

    .payment {
      width: 50%;
    }

    .radio-buttons {
      align-items: flex-start;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }

    .space-b {
      justify-content: space-between;
    }

    .w-100 {
      width: 100%;
    }

    .flex-start {
      justify-content: flex-start;
    }

    .payment-options {
      height: 12%;
      background-color: white;
      border-radius: 25px;
      align-items: center;
    }

    .payment-display {
      height: 50vh;
    }

    .payment-methods {
      height: 50vh;
      width: 100%;
    }

    label {
      margin-left: 10px;
    }

    .img {
      min-width: 70%;
      border-radius: 25px;
    }

    .hidden {
      display: none;
    }
  </style>


  <div class="flex-h">
    <!-- <div class="sidebar">
      <div class="flex-v">
        <div>
          <h1>MyCompany</h1>
        </div>
        <div>
          <h2>Categories</h2>
        </div>
      </div>
    </div> -->
    <div class="content flex-h">
      <div class="product flex-v">
        <img src="https://picsum.photos/300" class="img" alt="Image product">
        <div class="productInfos">
          <div class="flex-h">

            <h3>Sample Product</h3>
            <p>Price: £240.00</p>
          </div>
          <div data-pp-message data-pp-amount="240.00" data-pp-layout="text"></div>
          <h4>Description</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At sint beatae quaerat aspernatur doloribus
            accusantium, architecto corporis eius sequi rerum iusto blanditiis! Cumque ab dicta beatae dolorem non id
            temporibus.</p>
        </div>
      </div>
      <div class="payment flex-v">
        <div class="payment-methods">
          <h3>Payment Options</h3>
          <div class="radio-buttons flex-v">
            <div class="flex-h w-100 flex-start payment-options">
              <input type="radio" name="payment" id="creditCard" value="credit-cards">
              <label for="creditCard">Credit Card</label>
            </div>
            <div class="flex-h w-100 flex-start payment-options">
              <input type="radio" name="payment" id="paypal" value="paypal">
              <label for="paypal">Paypal</label>
            </div>

            <div class="flex-h w-100 flex-start payment-options">
              <input type="radio" name="payment" id="applePay" value="apple">
              <label for="applePay">Apple Pay</label>
            </div>
            <div class="flex-h w-100 flex-start payment-options">
              <input type="radio" name="payment" id="googlePay" value="google">
              <label for="googlePay">Google Pay</label>
            </div>
          </div>
        </div>
        <div class="payment-display flex-v">
          <div class="paypal-container hidden">
            <div id="paypal-button-container" class="paypal-button-container"></div>
          </div>
          <div class="credit-cards-container hidden">
            <div id="card-name-field-container"></div>
            <div id="card-number-field-container"></div>
            <div id="card-expiry-field-container"></div>
            <div id="card-cvv-field-container"></div>
            <button value="submit" id="card-field-submit-button" class="nbtn" type="button">
              Pay
            </button>
          </div>

          <div class="apple-container hidden">
            <div id="applepay-container"></div>
          </div>
          <div class="google-container hidden">
            <div id="container"></div>
          </div>
        </div>
      </div>
      <script>
        document.querySelectorAll('input[name="payment"]').forEach((radio) => {
          radio.addEventListener('change', function () {
            document.querySelectorAll('.payment-display > div').forEach((div) => {
              div.classList.add('hidden');
            });
            const selectedPayment = this.value;
            document.querySelector(`.${selectedPayment}-container`).classList.remove('hidden');
          });
        });
      </script>
    </div>
  </div>

  <p id="result-message"></p>
  <!-- JavaScript file that includes our buttons and cardField events -->
  <script src="old.js"></script>
  <script src="applepay.js"></script>
  <script src="googlepay.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      if (google && paypal.Googlepay) {
        onGooglePayLoaded().catch(console.log);
      }
    });
  </script>
  <script src="modal.js"></script>
</body>

</html>